.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.set-all input {
    margin-left: 20px;
}


.student-list {
    display: flex;
    flex-direction: column;
}

.student-item {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.student-item span {
    flex: 1;
}