<app-student-list></app-student-list>

<div class="container">

  <form class="wish-form">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName"></label>
      <input type="text" placeholder="Make a Wish!" class="form-control" [(ngModel)]="newWishText" name="wishText">

    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); addNewWish()">Add wish</button>
    </div>
  </form>

  <div *ngIf="items.length === 0; else showItems">
    There are no items in the list
  </div>



  <ng-template #showItems>
    <ul *ngIf="items.length >0" class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="checkbox" [checked]="item.isComplete" [attr.data-index]="ii"
              (click)="toggleItem(item)" />
            {{item.wishText}}

          </label>
        </div>
      </li>
    </ul>
  </ng-template>



</div>